<style>
td.visits {
  text-size: 1.1em; font-weight: bold;
}
td.visits a {
  color: white;
}
</style>

<div class="box box-primary">
  <div class="box-header">
      <h3 class="box-title">Date Filter</h3>
  </div>
  <div class="box-body">
  <form method="post">
    Begin Date: <input type="text" name="begin_date" value="<%=begin_date%>" />
    End Date: <input type="text" name="end_date" value="<%=end_date%>" />
    <input type="submit" name="date_range"/>
  </form>
  </div><!-- /.box-body -->
</div>

<%user.sections.each do |section|%>
<h3>  Section: <%=section.display_name%></h3>

<%section.students.each do |student|%>
  <div class="box">
    <div class="box-header">
        <h3 class="box-title"><%=student.full_name%></h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-condensed">
            <tbody><tr>
                <th style="width: 15%">Site</th>
                <th style="width: 70%">Page</th>
                <th style="width: 15%">Time Visited</th>
            </tr>

            <%student.site_visits_summary(begin_date: begin_date, end_date: end_date).each do |site_visit|%>
            <tr class="bg-light-blue">
                <td colspan=2 class="visits"><a href="<%=site_visit.url%>" target="_blank"><%=site_visit.display_name%></a></td>
                <td class="visits"><%=site_visit.time_active%></td>
            </tr>

              <%student.page_visits_summary(site: site_visit, begin_date: begin_date, end_date: end_date).each do |page_visit|%>
              <tr>
                  <td>&nbsp;</td>
                  <td><a href="<%=page_visit.url%>" target="_blank"><%=page_visit.display_name%></a></td>
                  <td><%=page_visit.time_active%></td>
              </tr>
              <% end #student.page_visits %>
            <% end #student.site_visits %>

        </tbody></table>
    </div><!-- /.box-body -->
  </div>
<%  end #section.students
  end #user.section
%>
