Filter tools
| Change date period | View all sections/one section picker |

|Sections
  |Students  | Total time on all sites
   ->   [expand list]
        | Sites visited  |  Time on site |
     ->   [expand site]
          | Pages visited | Time on page | 
            |Left page to URL

Nb. Time on site/page is for what time frame by default? (7 days?)

User: <p class="teacher_name"><%=user.full_name%></p>
<%user.sections.each do |section|%>
  Section: <%=section.display_name%>
  <%section.students.each do |student|%>
    <p class="student<%=student.id%>">Student: <p class="student_name"><%=student.full_name%></p>
    <%student.each_site_visit do |site_visit|%>
      Site: <p class="site_name"><%=site_visit.site.display_name%> <p/>
      Time on Site: <%=site_visit.time_active_words%>
        <%student.each_page_visit(site: site_visit) do |page_visit|%>
          <%=page_visit.display_name%>
          <%=page_visit.time_active_words%>

<%
        end #student.each_page_visited
      end #student.each_site_visited
%>  
    </p><!--class student.id-->
<%  end #section.students
  end #user.section
%>
<br/><br/>