<!-- Filter tools
| Change date period | View all sections/one section picker |

|Sections
  |Students  | Total time on all sites
   ->   [expand list]
        | Sites visited  |  Time on site |
     ->   [expand site]
          | Pages visited | Time on page | 
            |Left page to URL

Nb. Time on site/page is for what time frame by default? (7 days?)
-->
<style>
td.visits {
  text-size: 1.1em; font-weight: bold;
}
td.visits a {
  color: white;
}
</style>
<%user.sections.each do |section|%>
<h3>  Section: <%=section.display_name%></h3>

<%section.students.each do |student|%>
  <div class="box">
    <div class="box-header">
        <h3 class="box-title"><%=student.full_name%></h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-condensed">
            <tbody><tr>
                <th style="width: 15%">Site</th>
                <th style="width: 70%">Page</th>
                <th style="width: 15%">Timed Visited</th>
            </tr>

            <%student.site_visits_summary(begin_date: 4.days.ago).each do |site_visit|%>
            <tr class="bg-light-blue">
                <td colspan=2 class="visits"><a href="<%=site_visit.url%>" target="_blank"><%=site_visit.display_name%></a></td>
                <td class="visits"><%=site_visit.time_active%></td>
            </tr>

              <%student.page_visits_summary(site: site_visit, begin_date: 4.days.ago).each do |page_visit|%>
              <tr>
                  <td>&nbsp;</td>
                  <td><a href="<%=page_visit.url%>" target="_blank"><%=page_visit.display_name%></a></td>
                  <td><%=page_visit.time_active%></td>
              </tr>
              <% end #student.page_visits %>
            <% end #student.site_visits %>

        </tbody></table>
    </div><!-- /.box-body -->
  </div>
<%  end #section.students
  end #user.section
%>
<br/><br/>
